.container{
    border: 6px solid red;
    width: 1400px;
    margin: 0 auto;
    background-color: rgb(19, 108, 143);
   
    
}
.header{
    border: 5px;
    margin:50px;
    background-color:rgb(192, 255, 206);
    padding: 40px;
  
    
}
.box1{
    border:5px solid red;
    margin:50px;
    background-color: aqua;
    padding: 40px;
    
}.box2{
    border:5px solid red;
    margin:50px;
    background-color: aqua;
    padding: 40px;
   
}